@import "tailwindcss";

@layer base {
  :root {
    font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
    color-scheme: light dark;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  body {
    margin: 0;
    color: rgb(255 255 255 / 0.87);
    background-color: #242424;
  }

  @media (prefers-color-scheme: light) {
    body {
      color: #213547;
      background-color: #fff;
    }
  }
}
