@import "tailwindcss";

@layer base {
  :root {
    font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  body {
    margin: 0;
    color: rgb(255 255 255 / 0.87);
    background-color: #0a0a0a;
  }

  #root {
    -webkit-app-region: drag;
  }

  button, input, select, textarea, a, [role="button"] {
    -webkit-app-region: no-drag;
  }
}
